<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Payables</h4>
            <span class="span6 heading right">
                <%= link_to 'New Payable', new_payable_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_payable_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Invoices</th>
                    <th>Vendor</th>
                    <th>PO</th>
                    <th>Payable To</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>


<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_payable_list", :path => payables_path, :extras => {:slno => false},
        :columns => '[
                        { "mData": "payable_identifier" },
                        { "mData": "vendor_name" },
                        { "mData": "po_identifier" },
                        { "mData": "payable_to_name" },
                        { "mData": "payable_description" },
                        { "mData": "payable_total" },
                        { "mData": "payable_status" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>
