<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Quality IDs</h4>
            <span class="span6 heading right">
                <%#= link_to "New Quality ID", new_vendor_quality_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div>
    </div>
    <div class="widget-body">
      <table id="vendor_quality" class="dynamicTable table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <% @vendor_qualities.each do |id| %>
              <tr>
                  <td><%=link_to id.quality_name, vendor_quality_path(id)%></td>
                  <td><%=id.quality_description  %></td>
                  <td><%=id.quality_notes  %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">
    var datavendorquality;
    $(document).ready(function(){
        datavendorquality = $('#vendor_quality').dataTable({

            dom: '<"html5buttons"B>lTfgitp',
              colReorder: true,
              buttons: [
                  {extend: 'copy'},
                  {extend: 'csv', title: '__resources__'},
                  {extend: 'excel', title: '__resources__'},
                  {extend: 'pdf', title: '__resources__'},

                  {extend: 'print',
                   customize: function (win){
                          $(win.document.body).addClass('white-bg');
                          $(win.document.body).css('font-size', '10px');

                          $(win.document.body).find('table')
                                  .addClass('compact')
                                  .css('font-size', 'inherit');
                  }
                  }
              ]

          });
      });


</script>
