<% show_edit ||= false %>
<% show_new ||=false %>
<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading"> Customer Quote Line Items</h4>
            <span class="span6 heading right">
                <% if can? :edit, CustomerQuoteLine %>
                    <%= link_to 'Edit', new_customer_quote_customer_quote_line_path(@customer_quote, @customer_quote_line), :class => "btn btn-mini btn-success" if show_edit %>
                <% end %>
                <%= link_to 'New Customer Quote Line', new_customer_quote_customer_quote_line_path(@customer_quote, @customer_quote_line), :class => "btn btn-mini btn-success" if show_new %>        
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_customer_quote_line_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>     
                    <th>Part No</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Tooling</th>
                    <th>Lead Time</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_customer_quote_line_list", :path => customer_quote_customer_quote_lines_path(@customer_quote), :extras => {:slno => false },
        :columns => '[
                        { "mData": "item_part_no" },
                        { "mData": "customer_quote_line_quantity" },
                        { "mData": "customer_quote_line_cost"},
                        { "mData": "customer_quote_line_description"},
                        { "mData": "customer_quote_line_tooling_cost"},
                        { "mData": "lead_time" },
                        { "mData": "customer_quote_line_total" },
                        { "mData": "links" }                       
                    ]'
    } 
%>