<h1>Editing customer_quote_line</h1>

<%= render 'form' %>

<%= link_to 'Show', [@customer_quote_line.customer_quote, @customer_quote_line] %> |
<%= link_to 'Back', customer_quote_customer_quote_lines_path(@customer_quote_line.customer_quote) %>
