<%= render :partial => 'layouts/app_layouts/contents', :locals => {type: "shipment_header"} %>

<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">PO Received</h4>
            <span class="span6 heading right">
                <%#= link_to 'New Shipment', new_po_shipment_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->

    <div class="widget-body">
        <table id="po_shipment_table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Part No</th>
                <th>PO</th>
                <!-- <th>Customer</th> -->
                <th>Quality ID</th>
                <th>Quantity Ordered</th>
                <th>Quantity Received</th>
                <th>Date Received</th>
                <th>Unit</th>
                <th>Shelf</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "po_shipment_table_report", :path => po_shipments_path, :extras => {:slno => false}, 
        :columns => '[
                        { "mData": "item_part_no" },
                        { "mData": "po_identifier" },
                        { "mData": "quality_id_name" },
                        { "mData": "po_line_quantity" },
                        { "mData": "po_shipped_count" },
                        { "mData": "po_shipped_date" },
                        { "mData": "po_shipped_unit" },
                        { "mData": "po_shipped_shelf" },
                        { "mData": "links", "bportable": false, "bSearchable": false }  
                    ]'
    } 
%>