<%= render :partial => 'layouts/app_layouts/contents', :locals => {type: "receiving_header"} %>

<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Receiving</h4>
            <span class="span6 heading right">
            <% if can? :edit , PoShipment %>
            	<%= link_to 'Receive', "#", :class => "btn btn-small btn-success", onclick: "initiate_shipping_inputs();return false" %> 
                <div id="lot_ids" style="display:none"></div>
            <% end %>               
            </span>
        </div> 
    </div>
    <div class="loading" style="display:none"> <div id="load">  <p>Processing...</p></div> </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_shipping_items" class="editable_table dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
              	<th>PO</th>
                <th>Part No</th>
                <th>Vendor</th>
                <th>Customer</th>
                <th>Quality Level</th>
                <th>Quantity Ordered</th>
                <th>Quantity Open</th>
                <th>Receiving</th>
                <th>Unit</th>
                <th>Shelf</th>                
                <th></th>
              </tr>
            </thead>
            <body>
                
            </body>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_shipping_items", :path => po_shipments_path(type: "shipping"), :extras => {:slno => false, :fnDrawCallback => "shipping_fnDrawCallback", :grouping => true, :column_index => 0},
        :columns => '[
        				{ "mData": "po_identifier" },
                        { "mData": "item_part_no" },
                        { "mData": "vendor_name" },
                        { "mData": "customer_name" },
                        { "mData": "quality_level_name" },
                        { "mData": "po_line_quantity" },
                        { "mData": "po_line_quantity_open" },
                        { "mData": "po_line_shipping" },
                        { "mData": "po_line_unit" },
                        { "mData": "po_line_shelf" },                        
                        { "mData": "links", "bportable": false, "bSearchable": false }                        
                    ]'
    } 
%>

<%= render :partial => 'layouts/app_layouts/shipments', :locals => {type: "po"} %>
<style> 

#load {background: url("/assets/images/loading.GIF") no-repeat scroll 0 0 rgba(0, 0, 0, 0);color:#fff;height: 55px;left: 0;margin: 0 auto;
position: absolute;right: 25%;
text-align: center;top: 40%;width: 55px;}
.loading {background-color: rgba(0, 0, 0, 0.8);height: 100%;position: fixed;top: 0;width: 100%;z-index: 999}
#load p {margin-top: 65px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;}

</style>
