<div class="row-fluid">
    <h4 class="span3 left">Customer Quote Info<span></span></h4>
    <span class="span9 right">
        <%#= link_to 'Edit', edit_quote_path(@quote), :class => "btn btn-small" unless @quote.organization %>    
        <%= link_to 'Back',customer_quotes_path, :class => "btn btn-small" %>
    </span>    
</div>
<div class="row-fluid">
    <%= render :partial => 'customer_quotes/customer_quote_info' %>
 
    <div class="span8">
    	<%= render :partial => 'customer_quote_lines/customer_quote_line_list', :locals => { show_edit: true } %> 
    </div>
</div>
<div class="separator bottom"></div>

<!-- Comments -->
<%= render :partial => 'comments/comments', :locals => {:extras => {:link => populate_quote_path(type: "note")}} %>