<h2>Greetings:</h2>

<p>Please see the attached sales order from Chess Group and confirm via email that you have received. </p>


<p><%= @so_header.so_notes %></p>


<p>You can logon to our system to view sales order details and find related documents at http://erp.chessgroupinc.com
</p>

<p>Thank you,</p>
<p>sales</p>