<div class="row-fluid">
    <h4 class="span3 left">Lots</h4>
    <span class="span9 right">        
        <%= link_to 'Back', quality_lots_lot_info_path, :class => "btn btn-small" %>
    </span>
</div>

<div class="row-fluid">
  <%= render :partial => 'po_headers/po_header_info' %>

  <div class="span9">
	<%= render :partial => 'quality_lots/lots' %>
  </div>

</div>