<!-- <h4 class="heading">Editing PO Line Item</h1> -->

<div class="row-fluid">
    <h4 class="span3 left">Editing PO Line Item<span></span></h4>
    <span class="span9 right">
        <%= link_to 'New Item/Alt Name', new_item_alt_name_path(new_item: true), :class => "btn btn-small", :target => "_blank" %>
    </span>
</div>

<%= render 'form' %>
