<h1>Editing receivable_account</h1>

<%= render 'form' %>

<%= link_to 'Show', [@receivable_account.receivable, @receivable_account] %> |
<%= link_to 'Back', receivable_receivable_accounts_path(@receivable_account.receivable) %>
