<div class="widget">
  <div class="widget-head">
    <div class="row-fluid">
      <h4 class="span6 heading"><%=@group.group_name  + ' vendors' %>
      </h4>
      <span class="span6 heading right">
        <a class="btn btn-mini btn-success" href="<%= edit_group_path(@group) %>">Update</a>

      </span>
    </div>
  </div>
  <table class="dynamicTable table table-striped table-bordered" id="vendor_lines_table_2">
    <thead>
      <tr>
        <th>Vendor Name</th>
      </tr>
    </thead>
    <tbody>
      <% if @group.organizations %>
        <% @group.group_organizations.each do |grp_organization| %>
          <tr>
            <td><%= grp_organization.organization.organization_name %>
            <td>
            <td><%= CommonActions.object_crud_paths(organization_path(grp_organization.organization),nil,nil,[{path:  group_organization_path(grp_organization), method: 'delete', name: 'delete'}]).html_safe %>
            <td>
          </tr>
        <% end%>
      <% end %>
    </tbody>
  </table>
</div>
