<h4 class="heading">New Journal Entry</h4>

<%= render 'form' %>

 <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>GL Account</th>
                <th>Description</th>
                <th>Date</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => gl_entries_path, :extras => {:slno => false},
        :columns => '[
                        { "mData": "gl_entry_identifier" },
                        { "mData": "gl_account_name" },
                        { "mData": "gl_entry_description" },
                        { "mData": "gl_entry_date" },
                        { "mData": "gl_entry_credit"},
                        { "mData": "gl_entry_debit"},
                        { "mData": "gl_entry_active" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>