<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading"><%= name.titlecase.pluralize %></h4>
            <span class="span6 heading right">
                <%= link_to "New #{name.titlecase}", new_path, :class => "btn btn-mini btn-success" %>                
            </span>
        </div> 
    </div>
    <div class="widget-body">
        <table id="table_report_<%= name %>" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>                
                <th>Name</th>
              
                <th>Effective Date</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Public</th>
                <th>Status</th>
                <th>Active</th>
                <th>Uploaded Date</th>
                <th>Uploaded By</th>
                <th>Approved By</th>
                <th></th>
              </tr>
            </thead>
        </table>
    </div>
</div>


<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_#{name}", :path => process_types_path(item_id:  (@item.nil? ? nil : @item.id)),
        :extras => {:slno => false}, 
        :columns => '[                        
                        { "mData": "attachment_name" },
                    
                        { "mData": "effective_date" },
                        { "mData": "attachment_description", "bVisible": false },
                        { "mData": "attachment_notes", "bVisible": false },
                        { "mData": "attachment_public" },
                        { "mData": "attachment_status", "bVisible": false },
                        { "mData": "attachment_active", "bVisible": false },
                        { "mData": "uploaded_date", "bVisible": false },
                        { "mData": "uploaded_by" },
                        { "mData": "approved_by", "bVisible": false },
                        { "mData": "links" }
                    ]'
    } 
%>