<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Attachments</h4>
            <span class="span6 heading right">
                <%= link_to 'New Attachment', new_attachment_path(attachable_type: @object.class.name, attachable_id: @object.id), :class => "btn btn-mini btn-success" %>
                <%#= link_to 'Back', @object.redirect_path, :class =>"btn" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->

    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Revision Title</th>
                <th>Revision Date</th>                
                <th>Description</th>
                <th>Notes</th>
                <th>Public</th>
                <th>Status</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report", :path => attachments_path(attachable_type: @object.class.name, attachable_id: @object.id),:extras => {:slno => false}, 
        :columns => '[
                        { "mData": "attachment_name" },
                        { "mData": "attachment_revision_title" },                        
                        { "mData": "attachment_revision_date" },                        
                        { "mData": "attachment_description" },
                        { "mData": "attachment_notes", "bVisible": false },                       
                        { "mData": "attachment_public" },
                        { "mData": "attachment_status" },
                        { "mData": "attachment_active" },
                        { "mData": "links" }
                    ]'
    } 
%>

