<h1>Editing payable_shipment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@payable_shipment.payable, @payable_shipment] %> |
<%= link_to 'Back', payable_payable_shipments_path(@payable_shipment.payable) %>
