<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Elements of <%= @material.material_short_name %></h4>
            <span class="span6 heading right">
                <%= link_to 'New Element', new_material_material_element_path(@material), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Back to Materials', materials_path, :class => "btn btn-mini btn-info" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->

    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Low Range</th>
                <th>High Range</th>
                <th>Active</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){ 
        var oTable1 = $('#table_report').dataTable({
            "bAutoWidth": false,
            "bProcessing": true,
            "sAjaxSource": '<%= material_material_elements_path(@material) %>',
            "aoColumns": [
                { "mData": "id" },
                { "mData": "element_name" },
                { "mData": "element_symbol" },
                { "mData": "element_low_range" },
                { "mData": "element_high_range" },
                { "mData": "element_active" },
                { "mData": "links", "bSortable": false, "bSearchable": false }
            ]
        });
    });
</script>