<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Material Element Test</h4>
            <span class="span6 heading right">
                <%= link_to 'New Material Element Test', new_quality_lot_material_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_lots" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Lot</th>
                    <th>Element</th>
                    <th>Low Range</th>
                    <th>High Range</th>
                    <th>Tested</th>
                    <th>Result</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_lots", :path => quality_lot_materials_path, :extras => {:slno => false},
        :columns => '[
                        { "mData": "lot_control_no" },
                        { "mData": "lot_element_name" },
                        { "mData": "lot_element_low_range" },
                        { "mData": "lot_element_high_range" },
                        { "mData": "lot_material_tested" },
                        { "mData": "lot_material_result" },
                        { "mData": "created_date" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>