<%= javascript_include_tag "application", "calendar.js","fullcalendar.js" %>
<%= stylesheet_link_tag "application", "fullcalendar.css" %>

<!-- Main Container Fluid -->
<div class="container-fluid fluid menu-left">
  <div class="innerLR innerT">
    <div class="widget">
      <div class="widget-head">
        <h4 class="heading">Calendar</h4>
      </div>

      <div class="widget-body">
        <div id="calendar"></div>
      </div>
    </div>

    <div class="uniformjs" id="external-events">

      <div class="widget">
        <div class="widget-head">
          <h3 class="heading">Draggable Events</h3>
        </div>

        <div class="widget-body">
          <!-- Events list -->
          <ul>
            <li class="glyphicons move"><i></i> My Event 1</li>
            <li class="glyphicons move"><i></i> My Event 2</li>
            <li class="glyphicons move"><i></i> My Event 3</li>
            <li class="glyphicons move"><i></i> My Event 4</li>
            <li class="glyphicons move"><i></i> My Event 5</li>
          </ul>
          <!-- Events list END -->

          <label for="drop-remove" class="checkbox">
            <input type="checkbox" class="checkbox" id="drop-remove" /> 
            remove after drop
          </label>
        </div>
      </div>
    </div>
  </div>  
</div>

<script>
  var basePath = '';
</script>
