<div class="row-fluid span8">
    <div class="label label-large label-info arrowed-in arrowed-right">
        <h4>Counters</h4>
    </div>
    <div class="separator bottom"></div>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
              <td class="span2"><b>Next Check Code :</b></td>
              <td class="span5"><%= CheckCode.find_by_counter_type("check_code").counter %></td>
              <td><%= link_to 'Edit', edit_check_code_path(CheckCode.find_by_counter_type("check_code"), :text => "Next Check Code") , :class => "btn btn-small" %></td>
            </tr>
            <tr>
              <td class="span2"><b>Next Quality :</b></td>
              <td class="span5"><%= CheckCode.find_by_counter_type("quality_next").counter %></td>
              <td><%= link_to 'Edit', edit_check_code_path(CheckCode.find_by_counter_type("quality_next"), :text => "Next Quality") , :class => "btn btn-small" %></td>
            </tr>
        </tbody>
    </table>
    <div class="form-actions">
    </div>
</div>