<h1>Editing receivable_line</h1>

<%= render 'form' %>

<%= link_to 'Show', [@receivable_line.receivable, @receivable_line] %> |
<%= link_to 'Back', receivable_receivable_lines_path(@receivable_line.receivable) %>
