<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading"> Quality Actions </h4>
            <span class="span6 heading right">
                <%= link_to 'Open', quality_actions_path(:status => "open" ), :class => "btn btn-mini btn-success" %>
                <%= link_to 'finished', quality_actions_path(:status => "finished" ), :class => "btn btn-mini btn-success" %>
                <%= link_to 'New Quality Action', new_quality_action_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_quality_action_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                   <th>Quality action no</th>
                   <th>Cause analyasis</th>
                   <th>Due date</th>
                   <th>Created By</th>
                   <th>status</th>
                   <th></th>
                </tr>
            </thead>
            <body>
                
            </body>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_quality_action_list", :path => quality_actions_path(:status => (@status.present? ? @status : nil)), :extras => {:slno => false},
        :columns => '[
                        { "mData": "action_no" },
                        { "mData": "quantity" },
                        { "mData": "due_date" },                       
                        { "mData": "user"},
                        { "mData": "status_action"},
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                        
                    ]'
    } 
%>