
<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">PO List</h4>
            <span class="span6 heading right">
                <%= link_to 'Open', po_headers_path(:status => "open", :vendor_id => (@vendor.nil? ? nil : @vendor.id)), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Closed', po_headers_path(:status => "closed", :vendor_id => (@vendor.nil? ? nil : @vendor.id)), :class => "btn btn-mini btn-success" %>
                <%= link_to 'New PO', new_po_header_path(:vendor_id => (@vendor.nil? ? nil : @vendor.id)), :class => "btn btn-mini btn-success" %>                
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_po_header_list" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>PO ID</th>
                    <th>PO Type</th>
                    <th>Vendor</th>
                    <th>Identifier</th>
                    <th>Description</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_po_header_list", :path => po_headers_path(:status => params[:status], :vendor_id => (@vendor.nil? ? nil : @vendor.id)), :extras => {:slno => false, 
        :grouping => true, :column_index => 2},
        :columns => '[
                        { "mData": "id" },
                        { "mData": "po_type_name" },
                        { "mData": "vendor_name" },
                        { "mData": "po_identifier", "bVisible": false },
                        { "mData": "po_description", "bVisible": false },
                        { "mData": "po_total", "bVisible": false },
                        { "mData": "po_status" },
                        { "mData": "po_notes", "bVisible": false },
                        { "mData": "po_active", "bVisible": false },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>
