<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Instruments</h4>
            <span class="span6 heading right">
            <% if can? :edit, Gauge %>
                <%= link_to 'New Instrument', new_gauge_path, :class => "btn btn-mini btn-success" %>   
            <% end %>                
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <!-- <th>SLNO</th> -->
                    <th>Tool Name</th>
                    <th>Tool Category</th>
                    <th>Tool No</th>
                    <th>Caliberator</th>
                    <th>Caliberation Last At</th>
                    <th>Caliberaion Due At</th>
                    <th>Active</th>                  
                    <th></th>                  
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => gauges_path, :extras => {:slno => false}, 
        :columns => '[
                        { "mData": "gauge_tool_name" },
                        { "mData": "gauge_tool_category" },
                        { "mData": "gauge_tool_no" },
                        { "mData": "gauge_caliberator" },
                        { "mData": "gage_caliberation_last_at" },
                        { "mData": "gage_caliberation_due_at" },
                        { "mData": "gauge_active"},
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>




