<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Gauges of <%= @organization.organization_name %></h4>
            <span class="span6 heading right">
                <%= link_to 'New Guage', new_organization_gauge_path(@organization), :class => "btn btn-mini btn-success" %>
                <%= link_to 'Back to Materials', organizations_path, :class => "btn btn-mini btn-info" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>SLNO</th>
                    <th>Tool Name</th>
                    <th>Tool No</th>
                    <th>Caliberation At</th>
                    <th>Caliberaion Period</th>
                    <th>Active</th>                  
                    <th></th>                  
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => organization_gauges_path(@organization),
        :columns => '[
                        { "mData": "id" },
                        { "mData": "gauge_tool_name" },
                        { "mData": "gauge_tool_no" },
                        { "mData": "gage_caliberation_at" },
                        { "mData": "gage_caliberaion_period" },
                        { "mData": "gauge_active"},
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>




