<h1>Editing receivable_shipment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@receivable_shipment.receivable, @receivable_shipment] %> |
<%= link_to 'Back', receivable_receivable_shipments_path(@receivable_shipment.receivable) %>
