<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Items</h4>
            <span class="span6 heading right">
                <%= link_to 'New Item', new_item_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_items" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Part No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Vendor</th>
                <th>Revision</th>
                <th>Revision Date</th>
                <th>Tooling</th>
                <th>Cost</th>
                <th>Notes</th>
                <th>Active</th> 
                <th>Quantity on Hand</th>  
                <th>Quantity on Order</th>  
                <th>Alt Parts</th>  
                <!-- <th></th> -->
              </tr>
            </thead>
            <body>
                
            </body>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_items", :path => items_path(:organization_id => (@organization.nil? ? nil : @organization.id)), :extras => {:slno => false}, 
        :columns => '[
                        { "mData": "owner_name", "bVisible": false },                        
                        { "mData": "item_part_no" },
                        { "mData": "item_name" },
                        { "mData": "item_description" },
                        { "mData": "vendor_name", "bVisible": false },                       
                        { "mData": "item_revision_name" },
                        { "mData": "item_revision_date", "bVisible": false},
                        { "mData": "item_tooling", "bVisible": false },
                        { "mData": "item_cost" },                        
                        { "mData": "item_notes", "bVisible": false},
                        { "mData": "item_active", "bVisible": false },
                        { "mData": "item_quantity_in_hand" },
                        { "mData": "item_quantity_on_order" },
                        { "mData": "item_alt_parts", "bVisible": false }
                    ]'
    } 
%>