<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h5 class="span8 heading">Gauge Analysis</h5>
            <span class="span4 heading right">
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_gauge_analysis" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Appraisor</th>
                    <th>Bubble</th>
                    <th>Dimension</th>
                    <th>+ Tol</th>
                    <th>- Tol</th>
                    <th>Avg</th>
                    <th>STD</th>
                    <th>Max</th>
                    <th>Min</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>



<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_gauge_analysis", :path => quality_lot_gauge_quality_lot_gauge_results_path(@quality_lot_gauge), :extras => {:slno => false},
        :columns => '[
                        { "mData": "lot_gauge_appraisor" },
                        { "mData": "item_part_letter" },
                        { "mData": "item_part_dimensions" },
                        { "mData": "item_part_pos_tolerance" },
                        { "mData": "item_part_neg_tolerance" },
                        { "mData": "lot_gauge_avg" },
                        { "mData": "lot_gauge_std" },
                        { "mData": "lot_gauge_max" },
                        { "mData": "lot_gauge_min" },
                        { "mData": "lot_gauge_result_status" }
                    ]'
    } 
%>