<div class="widget">
    <div class="widget-head">
        <div class="row-fluid">
            <h5 class="span8 heading">Gauge Analysis</h5>
            <span class="span4 heading right">
            </span>
        </div> 
    </div>

    <div class="widget-body">
        <table id="table_report_gauge_analysis" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Letter</th>
                    <th>Rbar1</th>
                    <th>Rbar2</th>
                    <th>Rp</th>
                    <th><span data-toggle="tooltip" title="Gage Variation" data-placement="top">GV</span></th>
                    <th><span data-toggle="tooltip" title="Operator Variation" data-placement="top">OV</span></th>
                    <th><span data-toggle="tooltip" title="Repeatability & Reproduceability" data-placement="top">R&R</span></th>
                    <th><span data-toggle="tooltip" title="Part Variation" data-placement="top">PV</span></th>
                    <th><span data-toggle="tooltip" title="Total Variation" data-placement="top">TV</span></th>
                    <th><span data-toggle="tooltip" title="Repeatability & Reproduceability As % Of Tolerance)" data-placement="top">% R&R</span></th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>
</div>



<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report_gauge_analysis", :path => quality_lot_gauge_quality_lot_gauge_results_path(@quality_lot_gauge), :extras => {:slno => false},
        :columns => '[
                        { "mData": "item_part_letter" },
                        { "mData": "rbar1" },
                        { "mData": "rbar2" },
                        { "mData": "rp" },
                        { "mData": "gv" },
                        { "mData": "ov" },
                        { "mData": "rr" },
                        { "mData": "pv" },
                        { "mData": "tv" },
                        { "mData": "prr" }
                    ]'
    } 
%>