<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">GL Accounts</h4>
            <span class="span6 heading right">
                <%= link_to 'GL Types', gl_types_path, :class => "btn btn-mini btn-success" %>
                <%= link_to 'New GL Account', new_gl_account_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->

    <div class="widget-body">
        <table id="table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>Side</th>
                <th>Report</th>                
                <th>Active</th>
                <th>Amount</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "table_report", :path => gl_accounts_path, :extras => {:slno => false},
        :columns => '[
                        { "mData": "gl_account_identifier" },
                        { "mData": "gl_account_title" },
                        { "mData": "gl_account_description"},
                        { "mData": "gl_type_name" },
                        { "mData": "gl_type_side" },
                        { "mData": "gl_type_report" },                        
                        { "mData": "gl_account_active" },
                        { "mData": "gl_account_amount" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }
                    ]'
    } 
%>
