<!-- Widget -->
<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">Shipped</h4>
            <span class="span6 heading right">
                <%#= link_to 'New Shipment', new_so_shipment_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->

    <div class="widget-body">
        <table id="so_shipment_table_report" class="dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>SO</th>
                <th>Part No</th>
                <th>Vendor</th>
                <th>Quantity Ordered</th>
                <th>Total Shipped</th>
                <th>Shipped</th>
                <th>Shipped At</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {
        :name => "so_shipment_table_report", :path => so_shipments_path(item_id: (@item.id if @item)), :extras => {:slno => false}, 
        :columns => '[
                        { "mData": "so_identifier" },
                        { "mData": "item_part_no" },
                        { "mData": "vendor_name" },
                        { "mData": "so_line_quantity" },
                        { "mData": "so_line_quantity_shipped" },
                        { "mData": "so_shipped_count" },
                        { "mData": "so_shipped_date" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }  
                    ]'
    } 
%>