<%= render :partial => 'layouts/app_layouts/contents', :locals => {type: "shipment_header"} %>

<div class="widget">
    <!-- Widget heading -->
    <div class="widget-head">
        <div class="row-fluid">
            <h4 class="span6 heading">SO Shipping</h4>
            <span class="span6 heading right">
            	<%#= link_to 'Back to Shipped', so_shipments_path, :class => "btn btn-mini btn-success" %>
            </span>
        </div> 
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        <table id="table_report_shipping_items" class="editable_table dynamicTable table table-striped table-bordered table-condensed">
            <thead>
              <tr>
              	<th>SO</th>
                <th>Part No</th>
                <th>Vendor</th>
                <th>Quantity Ordered</th>
                <th>Quantity Shipped</th>
                <th>Shipping</th>
                <th>Shelf</th>
                <th>Unit</th>
                <th></th>
              </tr>
            </thead>
            <body>
                
            </body>
        </table>
    </div>
</div>

<%= render :partial => 'layouts/app_layouts/data_table', :locals => 
    {:name => "table_report_shipping_items", :path => so_shipments_path(type: "shipping"), :extras => {:slno => false, :fnDrawCallback => "shipping_fnDrawCallback", :grouping => true, :column_index => 0},
        :columns => '[
        				{ "mData": "so_identifier" },
                        { "mData": "item_part_no" },
                        { "mData": "vendor_name" },
                        { "mData": "so_line_quantity" },
                        { "mData": "so_line_quantity_shipped" },
                        { "mData": "so_line_shipping" },
                        { "mData": "so_line_shelf" },
                        { "mData": "so_line_unit" },
                        { "mData": "links", "bSortable": false, "bSearchable": false }                        
                    ]'
    } 
%>

<%= render :partial => 'layouts/app_layouts/shipments', :locals => {type: "so"} %>