<% content_for :page_level_header do %>
   <%= render :partial => 'layouts/app_content_layout', :locals => {:content => "page_header", :header1 => "Dashboard", :header2 => ""} %>
<% end %>

<div class="alert alert-block alert-success">
   <button type="button" class="close" data-dismiss="alert">
      <i class="icon-remove"></i>
   </button>
   <i class="icon-ok green"></i>
   Welcome to
   <strong class="green">
      Allaince POS<small>(v1.1)</small>
   </strong>
</div>


