/*.bwizard-steps.clickable li:not (.active ) {
  cursor: pointer;
}
.bwizard-steps.clickable li:hover:not (.active ) {
  background: #ccc;
}
.bwizard-steps.clickable li:hover:not (.active ):after {
  border-left-color: #ccc;
}
.bwizard-steps.clickable li:hover:not (.active ) a {
  color: #08c;
}*/

.form-inputs textarea {height:100px;}
.radio input[type="radio"], .checkbox input[type="checkbox"]{margin-left: 0px;}

.dataTables_filter {text-align: right;}
.dataTables_length select {width: 80px;}

.alert.alert-primary {font-weight: bold;}