<div class="row-fluid">
  <div class="row-fluid">
    <div class="span6">
          <h4><strong class="alert-success">Materials</strong></h4>
    </div>
    <div class="span6">
        <%= link_to 'New Material', new_material_path, :class => "btn btn-mini btn-success" %>
    </div>    
  </div>

  <% if notice %><p id="notice" class="alert alert-info"><%= notice %></p><% end %>

  <table id="table_report" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Short Name</th>
        <th>Description</th>
        <th>Notes</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    <tbody>
      
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function(){ 
        var oTable1 = $('#table_report').dataTable({
            "bAutoWidth": false,
            "bProcessing": true,
            "sAjaxSource": '<%= materials_path %>',
            "aoColumns": [
                { "mData": "id" },
                { "mData": "material_short_name" },
                { "mData": "material_description" },
                { "mData": "material_notes", "bVisible": false },
                { "mData": "material_active" },
                { "mData": "links", "bSortable": false, "bSearchable": false }
            ]
        });
    });
</script>