<p></p>
<% if notice %><p id="notice" class="alert alert-info"><%= notice %></p><% end %>

<%= render :partial => 'materials/material_elements', :locals => {:content => "material_info", :material => @material} %>