<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><a href="http://localhost:3000/auth/confirmation?confirmation_token=<%=@user.confirmation_token%>">Confirm my account</a></p>