<h2>Welcome</h2>

<p>Hello <%= @resource.email %>!</p>

<p>Welcome to Alliance Fastners POS Solution</p>

<p><%= link_to 'Click here to set your credentials', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
